################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
obj
.vs
*.dll
*.pdp
/net5.0/
/.vs
/Application/obj
/Application/bin
/GWP.API/Properties
/GWP.API/obj
/GWP.API/bin
/Domain/obj
/Domain/bin
/Infrastructure/bin
/Infrastructure/obj
/.git
/.vs