################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
obj
.vs
*.dll
*.pdp
/net5.0/
/.vs
/Application/obj
/Application/obj/Debug/net6.0
/Application/bin
/Application/bin/Debug/net6.0
/Application/Debug/bin/net6.0
/Application/Debug/obj/net6.0
/GWP.API/Properties
/GWP.API/obj
/GWP.API/obj/Debug/net6.0
/GWP.API/bin
/GWP.API/bin/Debug/net6.0
/GWP.API/Debug/bin/net6.0
/GWP.API/Debug/obj/net6.0
/Domain/obj
/Domain/obj/Debug/net6.0
/Domain/bin
/Domain/bin/Debug/net6.0
/Domain/Debug/bin/net6.0
/Domain/Debug/obj/net6.0
/Infrastructure/bin
/Infrastructure/obj
/Infrastructure/obj/Debug/net6.0
/Infrastructure/Debug/bin/net6.0
/Infrastructure/Debug/obj/net6.0
/.git
/.vs